body {
  background-image: url("./assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.inputStyle {
  width: 90%;
  height: 45px;
  border-radius: 100px;
  padding: 0 5%;
  margin-bottom: 20px;
  color: black;
  border: none;
}
.inputStyle::placeholder {
  color: black;
  font-weight: 700;
}
.button {
  width: 50%;
  height: 45px;
  border-radius: 100px;
  font-weight: 700;
  border: none;
}
